*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
text-align: center;
align-items: center;
justify-content: center;
height: 100vh;
font-family: 'Bungee Shade', cursive;
background-color:#1B1B1B;


}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #588da8;
    width:500px;
    height: 450px;
    border-radius: 25px;
    position: relative;

    
}
/* #disco{
    animation-name: disco;
    animation-duration: 8s;
}

@keyframes disco{
    0%{
        background-color:#97ebdb;
        top:0px;
    }
    30%{
        background-color: #00c2c7;
        top: 30px;
    }
    60%{
        background-color: #0086ad;
        top:60px;
    }
    100%{
        background-color: #005582;
        top: 0px;
    }
}
 */
/* the title */

h1 {
    width: 300px;
    height: 80px;
    margin:auto;
    margin-top:100px;
    font-size: 40px;
    font-family: 'Bungee Shade', cursive;
    color:#f1f1f1;

}
/* the reset button */
button{

    width:60px;
    height: 40px;
    border-radius: 25px;
    font-family: 'Bungee Shade', cursive;
    cursor: pointer;
    margin:auto;
    margin-top:0px;
    margin-bottom:30px;
    color: #1f1f1f;

}

button:hover{
    background-color: #C02739;

}
h4{
    color:#f1f1f1;
}

li{
    width: 200px;
    height: 200px;
    color: #f1f1f1;;
    margin-left: 40px;
}

.instruction {
    width:250px;
    height: 200px;
    background-color:red;
    margin-right: 40px;

}
/* the player status */

.playerStatus{
    margin:auto;
    color:#f1f1f1;
    width: 200px;
    height: 70px;
    margin-bottom: 20px;
    font-size:20px;
   
} 
/* the 9 small boxes */


.boxes {
    font-size: 3em;
    background-color:#f1f1f1;
    height: 100px;
    width: 30%;
    margin:3px;
    margin-top:0em;
    border-radius: 40px;
    padding:20px;
    cursor: pointer;
    text-align: center;
}

.boxes:hover{
    background-color: bisque;
}


.x {
    color:#483D8B;

}

.o {
    color:#ecce6d;
}